@import "../../vars.scss";

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  outline: none;
  // width: 100%;
  padding: 0 15px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  margin: 25px 0 10px;
  color: #fff;
  background: linear-gradient($colorSecondary, $color);
  box-shadow: 0 2px 12px -3px $color;
  opacity: 0.9;

  &:focus,
  &:hover {
    opacity: 1;
    box-shadow: 0 2px 2px -3px $color;
  }
}
