@import "../../vars.scss";

.textField {
  display: block;
  position: relative;
  margin-top: 10px;
  color: #8597a3;
  top: 20px;
  span {
    display: block;
    font-size: 0.8em;
  }

  input {
    width: 200px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 10px;

    border: 0;
    padding: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    &:focus,
    &:valid {
      outline: 0;
      border-bottom-color: #665856;
    }
  }
}
